<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Descubra o genero</title>
</head>
<style>
    body{
        font-size: 19px;
        text-align: center;
        margin-top: 20%;
    }
    .container{
        padding: 20px;
        margin: 0 auto;
        width: 40%;
        background-image: linear-gradient(to left, rgb(104, 101, 101), rgb(219, 212, 212))
    } 
</style>
<body>
    <div class="container">
    <% if(pesquisa[0].gender != null) { %>
        <li> Nome: <%= pesquisa[0].name %></li> <li> Idade: <%= pesquisa[1].age %> anos</li> <li> Gênero: <%= pesquisa[0].probability %>% de chance de ser do gênero <%= pesquisa[0].gender %></li> 
        <% }else{ %>
        <h1>Nome inválido</h1>
        <br> <a href="/">Voltar<a></a>
    <% } %>
    </li>
</div>
   <br>
</body>
</html>